<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    
    <!-- Required Core Stylesheet -->
    <link rel="stylesheet" href="style/css/glide.core.css">

    <!-- Optional Theme Stylesheet -->
    <link rel="stylesheet" href="style/css/glide.theme.css">

    <title>Gameflix</title>
</head>

<body class="phase-3">
    <div class="wrapper">
        <div class="navigation">
            <div class="logo">
                <img src="./style/content/logo/Logo_no_shadow.svg" alt="">
            </div>
            
            <!-- Full navigation -->
            <div class="action">
                <ul>
                    <li><a href="" class="active-link">Home</a></li>
                    <li><a href="">Top Selling</a></li>
                    <li><a href="">New Releases</a></li>
                    <li><a href="">Featured</a></li>
                    <li><a href="">Specials</a></li>
                </ul>
            </div>
            <div class="account-wrapper">
                <span class="tooltip">
                    <a href="">Account</a>
                    <a href="">Sign out</a>
                </span>
                <div class="avatar-icon">
                    <img src="./style/content/icons/avatar.png" alt="">
                </div>
                <div class="drop-arrow">
                    <span><img src="./style/content/icons/arrow.svg" alt=""></span>
                </div>
            </div>

            <!-- Hamburger Icon -->
            <div class="hamburger-wrapper">
                <div id="hamburger-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            
            <!-- Hamburger Menu -->
            <div class="mobile-navigation">
                <div class="action">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Top Selling</a></li>
                        <li><a href="">New Releases</a></li>
                        <li><a href="">Featured</a></li>
                        <li><a href="">Specials</a></li>
                    </ul>
                </div>
            </div>
        </div>

        {{!-- <div class="top-container">
            <div class="header">
                <p>Featured & Recommended</p>
            </div>
            <div class="top-wrapper">
                <div class="main-content">
                    <div class="main-image">
                        <img src="https://cdn.akamai.steamstatic.com/steam/apps/1172620/header.jpg?t=1613653891" alt="">
                    </div>
                </div>
                <div class="progress-wrapper">
                    <span id="active"></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div> --}}

        {{!-- <div class="row-container">
            <div class="header">
                <p>First person shooter (Exmaple row)</p>
            </div>
            <div class="row">
                <div class="item-container">
                    <div class="item">
                        <img src="https://cdn.akamai.steamstatic.com/steam/apps/730/header.jpg?t=1612812939" alt="">
                        <div class="content">
                        </div>
                    </div>
                </div>

                <div class="item-container">
                    <div class="item">
                        <img src="https://cdn.akamai.steamstatic.com/steam/apps/1085660/header.jpg?t=1614104374" alt="">
                        <div class="content">
                            <div class="top-content">
                                <div class="title">
                                    <p>Destiny 2</p>
                                </div>
                                <div class="list-button">
                                    <input type="button" value="ADD TO LIST">
                                </div>
                            </div>
                            <div class="review">
                                <p>Overall User Reviews: <span class="text">Very positive</span> <span
                                        class="number">(54,620)</span> </p>
                            </div>
                            <!-- 
                            <div class="tag-container">
                                <div class="tag">FPS</div>
                                <div class="tag">RPG</div>
                                <div class="tag">Adventure</div>
                                <div class="tag">CO-OP</div>
                                <div class="tag">MMO</div>
                            </div>
                            -->
                            <div class="short-description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                            <div class="bottom-content">
                                <div class="release-date">
                                    <p>Release date: <span>13 Mar, 2020</span> </p>
                                </div>
                                <div class="price">
                                    <p>Price: <span>£25</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item-container">
                    <div class="item">
                        <img src="https://cdn.akamai.steamstatic.com/steam/apps/218620/header.jpg?t=1615989984" alt="">
                        <div class="content">
                        </div>
                    </div>
                </div>

                <div class="item-container">
                    <div class="item">
                        <img src="https://cdn.akamai.steamstatic.com/steam/apps/252490/header.jpg?t=1613032122" alt="">
                        <div class="content">
                        </div>
                    </div>
                </div>

                <div class="item-container">
                    <div class="item">
                        <img src="https://cdn.akamai.steamstatic.com/steam/apps/359550/header.jpg?t=1616455066" alt="">
                        <div class="content">
                        </div>
                    </div>
                </div>

                <div class="item-container">
                    <div class="item">
                        <img src="https://cdn.akamai.steamstatic.com/steam/apps/1229490/header.jpg?t=1614731717" alt="">
                        <div class="content">
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}

        {{#each demo}}
        <div class="row-container">
            <div class="header">
                <p>{{@key}}</p>
            </div>
            <div class="row">
                {{#each this}}
                <div class="item-container">
                    <div class="item">
                        <img src={{this.header_image}} alt="">
                        <div class="content">
                            <div class="top-content">
                                <div class="title">
                                    <p>{{this.name}}</p>
                                </div>
                                <div class="list-button">
                                    <input type="button" value="ADD TO LIST">
                                </div>
                            </div>

                            <div class="review">
                                <p>Overall User Reviews: <span class="text">Very positive</span> <span
                                        class="number">({{this.score.total}})</span> </p>
                            </div>
                            
                            <div class="tag-container">
                                {{#each this.tags}}
                                <div class="tag">{{this}}</div>
                                {{/each}}
                            </div>
                           
                            <div class="short-description">
                                <p>{{this.description.short_desc}} </p>
                            </div>

                            <div class="bottom-content">
                                <div class="release-date">
                                    <p>Release date: <span>{{this.release_date}}</span> </p>
                                </div>
                                <div class="price">
                                    <p>Price: 
                                        <span>
                                        <!-- {{this.price.currency}} -->
                                        {{#if this.price.final}}
                                            {{this.price.final_formatted}} <!-- Final price -->
                                        {{else}}
                                            {{this.price.is_free}} <!-- Free -->
                                        {{/if}}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}

        {{#each demo}}
        <div class="row-container">
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <li class="glide__slide">1</li>
                        <li class="glide__slide">2</li>
                        <li class="glide__slide">3</li>
                    </ul>

                    <div class="glide__arrows" data-glide-el="controls">
                        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
                        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

        <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>

        <script>
            const options = { 
                type: "carousel",
                animationDuration: 100,
                gap: 0,
                perView: 2
            };

            const carousels = document.querySelectorAll(".glide");

            Object.values(carousels).map(carousel => {
                new Glide(carousel, options).mount();
            });









            $('.item').mouseenter(() => {
            })

            $('#hamburger-icon').click(function () {
                $(this).toggleClass('open');
                $(".mobile-navigation").toggleClass("active");
            });

            $(".account-wrapper").mouseenter(function () {
                $(".drop-arrow").animateRotate(180, 100)
                $(".tooltip").show()
            })

            $(".account-wrapper").mouseleave(function () {
                $(".tooltip").hide()
                $(".drop-arrow").animateRotate(0)
            });

            $.fn.animateRotate = function (angle, duration, easing, complete) {
                return this.each(function () {
                    var $elem = $(this);

                    $({ deg: 0 }).animate({ deg: angle }, {
                        duration: duration,
                        easing: easing,
                        step: function (now) {
                            $elem.css({
                                transform: 'rotate(' + now + 'deg)'
                            });
                        },
                        complete: complete || $.noop
                    });
                });
            };
    </script>
</body>
</html>