<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />

    <title>Gameflix</title>
</head>

<body class="phase-3">
    <div class="wrapper">
        <div class="navigation">
            <div class="logo">
                <img src="./style/content/logo/Logo_no_shadow.svg" alt="">
            </div>
            
            <!-- Full navigation -->
            <div class="action">
                <ul>
                    <li><a href="" class="active-link">Home</a></li>
                    <li><a href="">Top Selling</a></li>
                    <li><a href="">New Releases</a></li>
                    <li><a href="">Featured</a></li>
                    <li><a href="">Specials</a></li>
                </ul>
            </div>
            <div class="account-wrapper">
                <span class="tooltip">
                    <a href="">Account</a>
                    <a href="">Sign out</a>
                </span>
                <div class="avatar-icon">
                    <img src="./style/content/icons/avatar.png" alt="">
                </div>
                <div class="drop-arrow">
                    <span><img src="./style/content/icons/arrow.svg" alt=""></span>
                </div>
            </div>

            <!-- Hamburger Icon -->
            <div class="hamburger-wrapper">
                <div id="hamburger-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            
            <!-- Hamburger Menu -->
            <div class="mobile-navigation">
                <div class="action">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Top Selling</a></li>
                        <li><a href="">New Releases</a></li>
                        <li><a href="">Featured</a></li>
                        <li><a href="">Specials</a></li>
                    </ul>
                </div>
            </div>
        </div>

        {{!-- <div class="top-container">
            <div class="header">
                <p>Featured & Recommended</p>
            </div>
            <div class="top-wrapper">
                <div class="main-content">
                    <div class="main-image">
                        <img src="https://cdn.akamai.steamstatic.com/steam/apps/1172620/header.jpg?t=1613653891" alt="">
                    </div>
                </div>
                <div class="progress-wrapper">
                    <span id="active"></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div> --}}

        {{#each demo}}
        <div class="slider">
            <h2>{{@key}}</h2>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {{#each this}} 
                    <div class="swiper-slide">
                            <div class="item">
                                <img src={{this.header_image}} alt="">
                                <div class="content">
                                    <div class="top-content">
                                        <div class="title">
                                            <p>{{this.name}}</p>
                                        </div>
                                        {{!-- <div class="list-button">
                                            <input type="button" value="ADD TO LIST">
                                        </div> --}}
                                    </div>

                                    <div class="review">
                                        <p>Overall User Reviews: <span class="text">Very positive</span> <span
                                                class="number">({{this.score.total}})</span> </p>
                                    </div>
                                    
                                    <div class="tag-container">
                                        {{#each this.tags}}
                                        <div class="tag">{{this}}</div>
                                        {{/each}}
                                    </div>
                                
                                    <div class="short-description">
                                        <p>{{this.description.short_desc}} </p>
                                    </div>

                                    <div class="bottom-content">
                                        <div class="release-date">
                                            <p>Release date: <span>{{this.release_date}}</span> </p>
                                        </div>
                                        <div class="price">
                                            <p>Price: 
                                                <span>
                                                {{#if this.price.final}}
                                                    {{this.price.final_formatted}}
                                                {{else}}
                                                    {{this.price.is_free}}
                                                {{/if}}
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    {{/each}}
                </div>

                <!-- Pagination -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        {{/each}}

        <div class="large-game-wrapper">
            <div class="background"></div>
            <div class="foreground">
                {{#each demo}}
                    {{#each this}}
                        <div class="large-game-container">
                            <div class="col-1">
                                <div class="showcase-wrapper">
                                    <video controls preload="none" class="video" id="video">
                                           <source src={{this.movies.mp4}}#t=2 type="video/mp4">
                                    </video>
                                </div>
                                <div class="showcase-content">
                                    <div class="showcase-heading">
                                        <p>About this game</p>
                                    </div>
                                    {{this.description.long_desc}}
                                </div>
                            </div>
                            <div class="col-2">
                                .reviews
                                <div class="tags">
                                    <div class="tag-container">
                                        {{#each this.tags}}
                                        <div class="tag">{{this}}</div>
                                        {{/each}}
                                    </div>
                                </div>
                                <div class="content">
                                    <p>{{this.description.about_desc}}</p>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{/each}}
            </div>
        </div>

        <!-- Swiper JS -->
        <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
        <script>
            

            // Asign ID to small game container
            $(".swiper-slide").each(function(index) {
                $(this).attr("id", "s-" + index)
            });

            // Asign ID to large game container
            $(".large-game-container").each(function(index) {
                $(this).attr("id", "l-" + index)
                $(this).hide()
            });

            $(".large-game-wrapper").hide()

            // Get small game container on click
            $(".swiper-slide").click(function(index) {
                console.log("CL", $(this).attr("id"))
                console.log("CL", $(this).attr("class").split(' ')[0])

                var x = $(this).attr("id").replaceAll("s", "l") // Convert Small ID to Large ID
                $("#" + x + " .col-1 .showcase-wrapper video").attr("preload", "metadata") // Set to load video
    
                $("#" + x).show()
                $(".large-game-wrapper").show()
            });

            // When game container not clicked
            $(document).mouseup(function (e) {
                if ($(e.target).closest(".large-game-container").length === 0) {
                    $('video').trigger('pause'); // Pause all videos
                    $(".large-game-container").hide() // Hide container
                    $(".large-game-wrapper").hide() // Hide wrapper
                }
            });

            $("#l-15").show()
            $("#l-15" + " .col-1 .showcase-wrapper video").attr("preload", "metadata") // Set to load video
            $(".large-game-wrapper").show()

            var swiper = new Swiper('.swiper-container', {
                spaceBetween: 8,
                autoHeight: false,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                breakpoints: {
                    600: {
                        slidesPerView: 2,
                        slidesPerGroup: 2,
                    },
                    1000: {
                        slidesPerView: 3,
                        slidesPerGroup: 3,
                    },
                    1340: {
                        slidesPerView: 4,
                        slidesPerGroup: 4,
                    },
                    1680: {
                        slidesPerView: 5,
                        slidesPerGroup: 5,
                    }
                }
            });

            $('#hamburger-icon').click(function () {
                $(this).toggleClass('open');
                $(".mobile-navigation").toggleClass("active");
            });

            $(".account-wrapper").mouseenter(function () {
                $(".drop-arrow").animateRotate(180, 100)
                $(".tooltip").show()
            })

            $(".account-wrapper").mouseleave(function () {
                $(".tooltip").hide()
                $(".drop-arrow").animateRotate(0)
            });

            $.fn.animateRotate = function (angle, duration, easing, complete) {
                return this.each(function () {
                    var $elem = $(this);

                    $({ deg: 0 }).animate({ deg: angle }, {
                        duration: duration,
                        easing: easing,
                        step: function (now) {
                            $elem.css({
                                transform: 'rotate(' + now + 'deg)'
                            });
                        },
                        complete: complete || $.noop
                    });
                });
            };

            // Z-Index of card change on hover
            $('.item')
            .mouseenter(function() {
                $(this).parents('.slider').css('z-index', 8000)
            }).mouseleave(function() {
                $(this).parents('.slider').css('z-index', 10)
            });



        
    </script>
</body>
</html>



